#header{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 2;
}

#header .title{
    font-size: 30px;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
}

#header .btLogout{
    cursor: pointer;
    float: right;
    margin-right: 25px;
    padding: 5px 10px;
}

#header .btLogout:hover{
    background-color: #EEE;
}