#header{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .title{
    font-size: 30px;
    padding: 20px;
    display: inline-block;
}

#header .btLogout{
    cursor: pointer;
    float: right;
    margin-right: 25px;
}