#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #4285F4;
    z-index: 2;
    color: white;
}

#header .title{
    font-size: 30px;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
}

#header .btLogout{
    cursor: pointer;
    float: right;
    margin-right: 25px;
    padding: 5px 10px;
    transition: 0.2s;
}

#header .btLogout:hover{
    background-color: #609af8;
}

img {
    width: 40px;
    float: left;
  }