* {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.buttonArtificialDoctor{
    background-color: #7babf8;
    color:white;
    cursor: pointer;
    padding: 7px 15px;
    transition: 0.2s;
    border-radius: 6px;
}

.buttonArtificialDoctor:hover{
    background-color:#4285F4;
    color: white;
}


/*#nav-bar .tab{
    padding: 8px 18px;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    vertical-align: middle;
    transition: 0.15s;
    
}*/

