

/*-----------------ici mon menu------------*/
#menu{
    background-color:#333;
    position: sticky;
    top: 0;
    overflow: hidden;
}
ul{
    list-style-type: none;
    margin: 0;padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}
li a:hover{
    background: red;}
.active{
    background: red;
}

.unArticle:hover{
    background-color:#EEE;
    border-radius: 15px;
    border-bottom: 1px solid white;
}

.unArticle{
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid black;
    padding: 9px 16px;
    cursor: pointer;
    transition: 0.15s;
}

.unArticle .content-titre .titre, .unArticle .content-description .description, .unArticle .content-source .source{
    font-weight: bold;
    font-size:15px;
}

.unArticle{
    font-size: 12px;
}

#content-list-virus{
    width: 270px;
    margin-top: 20px;
    border: 1px solid #CCC;
    vertical-align: top;
    position: sticky;
    display: inline-block;
    top: 88px;
    max-height: calc(100% - 94px);
    overflow-y: auto;
}

.option_virus{
    cursor: pointer;
    border-bottom: 1px solid #CCC;
    padding: 12px 10px;
    transition: 0.2s;
}

.option_virus:hover, .option_virus.selected{
    padding-left: 25px;
    background-color: #EEE;
}

.option_virus:last-of-type{
    border-bottom: 0px;
}

#content-welcome{
    display: inline-block;
    width: calc(100% - 310px);
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
}

#content-selected-virus.hide{
    display: none !important;
}

#content-body.virus-is-displayed #content-selected-virus{
    display: inline-block;
}

#content-body.virus-is-displayed #content-welcome{
    display: none !important;
}

#content-selected-virus{
    display: none;
    width: calc(100% - 280px);
    margin-top: 20px;
}

#virus-apropos{
    position: sticky;
    top: 82px;
    background-color: white;
    padding-bottom: 10px;
    box-shadow: 0px 14px 16px -21px black
}

#content-virus-nom-and-virus-have-vaccin{
    padding: 12px;
    font-weight: bold;
    font-size: 23px;
}

#virus-nom{
    display: inline-block;
}

#virus-have-vaccin{
    display: inline-block;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 8px;
    color:#0059ff;
    cursor:pointer;
}

#virus-type{
    padding: 0px 12px;
    font-size: 14px;
}

#virus-dateapparition{
    padding: 6px 12px;
    font-size: 14px;
}

#virus-description{
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: justify;
}

#content-vaccins, #content-parametres{
    padding: 20px;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
 /*------------icc footer------------------------------*/
 .footer{
    clear: left;
    padding: 40px;
    bottom: 0;
    text-align: center;
    margin-top: auto;
    background-color: #000;
}
.footer h2{color: #FFFFFF;}