#nav-bar{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid black;
    text-align: center;
}

#nav-bar .tab{
    padding: 13px 18px;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    vertical-align: middle;
    transition: 0.15s;
}

#nav-bar .tab:hover{
    background-color: #EEE;
}

#nav-bar .tab.selected{
    background-color: #EFEFEF;
}

#content-list-virus > div{
    cursor: pointer;
    border: 1px solid black;
}

.unArticle{
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.unArticle .content-titre .titre, .unArticle .content-description .description, .unArticle .content-source .source{
    font-weight: bold;
    font-size:15px;
}

.unArticle{
    font-size: 12px;
}